# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env

# AWS credentials
.aws/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log